$font-logo: 'Sacramento', cursive;
$font-text: 'Sacramento', cursive;
$font-link-1: 'Leckerli One', cursive;
$font-link-2: 'Grand Hotel', cursive;
$font-footer: 'Libre Barcode 39 Text', cursive;

$color-background:  #231F20;
$color-logo:        #999;
$color-text:        #777;
$color-link-1:      #EC3950;
$color-link-2:      #24B0F5;
$color-heart:       #7F0000;
$color-link-hover:  #111