span{
  padding: 5px 0px;
  border-radius: 3px;
  user-select: none;
}

.Parent{
  text-align: center;
  height: 550px;
  width: 100%;
  overflow: hidden;
  /* background-color: #111; */
  margin-top: 50px;
}

.Link{
  display: inline-block;
  width: 225px;
  position: relative;
  /* transform-origin: 50% 50%;
  transition: all 400ms ease-in; */
}

.Link div{
  position: absolute;
  height: 10px;
  width: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  z-index: -1;
  transition: all 400ms ease-in;
}

.Logo{
  height: 105px;
  color: #999;
  font-size: 75px;
  font-family: 'Sacramento', cursive;
  text-shadow: #000 -1px 3px 0px;
}

.Footer{
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Texts {
  color: #777;    
  height: 50px;
}

.font5 span:hover, .font4 span:hover {
  animation:  color-change 0.4s;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes color-change {
  100% {
    background-color: #111;
  }
}

.font1{
  font-size: 25px;
  font-family: 'Sacramento', cursive;
}

.font2{
  font-size: 20px;
  font-family: 'Vibur', cursive;
}

.font3{
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Damion', cursive;
}

.font4{
  color: #24B0F5;
  font-size: 25px;
  font-family: 'Grand Hotel', cursive;
  text-shadow: rgb(35, 31, 32) -4px 2px 0px, #000 -6px 5px 0px;  
  cursor: pointer;  
  height: 50px;
}

.font5{
  color: #EC3950;
  font-size: 21px;
  font-family: 'Leckerli One', cursive;
  text-shadow: rgb(35, 31, 32) -4px 2px 0px, #000 -6px 5px 0px;  
  cursor: pointer;
  height: 50px;
}

/* -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif */