@import '_variables';

// Templates
.center-horizontally{
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Globals
body{
    font-family: sans-serif;
    background-color: $color-background; 
    user-select: none;
}

// Components
.appParent{
    text-align: center;
    height: 550px;
    width: 100%;
    overflow: hidden;
    margin-top: 50px; 
}

.nodeParent{
    height: 100%;
}

.logo{
    height: 105px;
    color: $color-logo;
    font-size: 75px;
    font-family: $font-logo;
    text-shadow: black -1px 3px 0px;
    overflow: hidden;
    opacity: 1.0;

    /*CSS animations*/
    transition-property: opacity;
    transition-duration: 0.55s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.logoHide{
    opacity: 0.0;
}

.nodeChildren{
    height: 45px;
    font-size: 25px;
    vertical-align: middle;
    line-height: 50px;
}

.text{
    @extend .nodeChildren;
    color: $color-text;
    font-family: $font-text;

    span.u{
        display: inline-block;
        border-bottom: 1px dashed $color-text;
        height: 32px;
        cursor: pointer;

        &:hover{
            color: $color-text-hover;
        }
    }
}

.highlight{
    background-color: $color-link-hover;
}

.link{
    @extend .nodeChildren;

    position: relative;
    height: 50px;
    color: $color-link-1;
    font-family: $font-link-1;
    font-size: 21px;

    // Animation
    transition-property: height, margin;
    transition-duration: 0.65s;
    transition-timing-function: $easeOutQuint;
    transition-delay: 1.4s;

    &.stretch{
        margin-bottom: $viewport-height;
        //height: 255px;
    }

    div#top{
        @extend .center-horizontally;
        @extend .highlight;

        position: absolute;
        height: 100%;
        width: 0%;
        bottom: -25px;
        z-index: -1;
        opacity: 0.0;
        
        /*CSS animations*/
        transition-property: width, opacity;
        transition-duration: 0.8s, 1.25s;
        transition-timing-function: $easeOutQuart;
        transition-delay: 0.8s;

        &.activate{
            width: 100%;
            opacity: 1.0;
        }
    }

    div#bottom{
        @extend .highlight;
        
        position: absolute;
        height: 0px;
        bottom: 0px;
        width: 100%;
        z-index: -1;
        overflow: hidden;
        font-family: $font-formal;
        color: $color-text;
        font-size: 13px;
        line-height: 25px;

        /*CSS animations*/
        transition-property: height, bottom;
        transition-duration: 0.6s;
        transition-timing-function: $easeOutQuint;
        transition-delay: 1.4s;

        &.activate{
            height: $viewport-height;
            bottom: -$viewport-height;
        }
    }

    span#banner{
        position: absolute;
        top: 0px;
        transform: translate(-50%, 0%);
        display: inline-block;
        padding: 0px 10px;
        border-radius: 2px;
        cursor: pointer;
        z-index: 0;

        &:hover{
            @extend .highlight;
        }
    }
}

.footer{
    @extend .center-horizontally;
    width: 100%;
    height: 30px;
    position: fixed;
    font-size: 25px;
    font-family: $font-footer;
    box-shadow: 0px -30px 15px $color-background;
    bottom: -15px;
    background-color: $color-background;

    svg{
        height: 16px;
        margin-left: 6px;
        fill: $color-heart;
    }
}

.header{
    @extend .footer;
    box-shadow: 0px 25px 15px $color-background;
    background-color: $color-background;
    width: 100%;
    height: 53px;
    top: 15px;
    z-index: 1;
}

.nodeContainer{
    // Animation
    transition-property: margin;
    transition-duration: 0.55s;
    transition-timing-function: $easeOutBack;
    transition-delay: 0.2s;

    &.first{margin-top: -$viewport-margin}
    &.second{margin-top: -$viewport-margin - 90}
}

// Load Animations and micro-interactions
.anim-appear {
    opacity: 0.01;
}
.anim-appear.anim-appear-active{
    opacity: 2;
    transition: opacity 0.5s ease-in;
}