@import '_variables';

// Templates
.center-horizontally{
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Globals
body{
    font-family: sans-serif;
    background-color: $color-background; 
    user-select: none;
}

// Components
.appParent{
    text-align: center;
    height: 550px;
    width: 100%;
    overflow: hidden;
    margin-top: 50px; 
    //box-shadow: inset 0px 0px 50px 0px;  
    //color: $color-background;
}

.nodeParent{
    height: 100%;
}

.logo{
    height: 105px;
    color: $color-logo;
    font-size: 75px;
    font-family: $font-logo;
    text-shadow: black -1px 3px 0px;
}

.logoHide{
    display: none;
}

.nodeChildren{
    height: 50px;
    font-size: 25px;
    vertical-align: middle;
    line-height: 50px;
}

.text{
    @extend .nodeChildren;
    color: $color-text;
    font-family: $font-text;

    span.u{
        display: inline-block;
        border-bottom: 1px dashed $color-text;
        height: 32px;
        cursor: pointer;

        &:hover{
            color: $color-text-hover;
        }
    }
}

.highlight{
    background-color: $color-link-hover;
}

.link{
    @extend .nodeChildren;

    position: relative;
    height: 50px;
    color: $color-link-1;
    font-family: $font-link-1;
    font-size: 21px;

    div{
        @extend .center-horizontally;
        @extend .highlight;

        position: absolute;
        height: 100%;
        width: 0%;
        bottom: -25px;
        z-index: -1;

        &.activate{
            width: 100%;
        }
    }

    span{
        display: inline-block;
        padding: 0px 10px;
        border-radius: 2px;
        cursor: pointer;
        z-index: 0;

        &:hover{
            @extend .highlight;
        }
    }
}

.footer{
    @extend .center-horizontally;
    position: fixed;
    font-size: 25px;
    font-family: $font-footer;

    svg{
        height: 16px;
        margin-left: 6px;
        fill: $color-heart;
    }
}

// Animations and micro-interactions
.anim-appear {
    opacity: 0.01;
}
   
.anim-appear.anim-appear-active{
    opacity: 2;
    transition: opacity 0.5s ease-in;
}